workspace/crud-dio-angular/angular.json
workspace/crud-dio-angular/src/environments/environment.ts
workspace/crud-dio-angular/src/environments/environment.prod.ts
workspace/crud-dio-angular/src/assets/.gitkeep
workspace/crud-dio-angular/src/test.ts
workspace/crud-dio-angular/src/polyfills.ts
workspace/crud-dio-angular/e2e/src/app.e2e-spec.ts
workspace/crud-dio-angular/e2e/tsconfig.json
workspace/crud-dio-angular/e2e/protractor.conf.js
workspace/crud-dio-angular/tslint.json
workspace/crud-dio-angular/tsconfig.spec.json
workspace/crud-dio-angular/tsconfig.json
workspace/crud-dio-angular/tsconfig.app.json
workspace/crud-dio-angular/karma.conf.js
workspace/crud-dio-angular/browserslist
workspace/crud-dio-angular/.editorconfig
workspace/crud-dio-angular/e2e/src/app.po.ts
workspace/crud-dio-angular/src/favicon.ico
